.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

credit_card_fraud_detection/data/*
credit_card_fraud_detection/models/*
credit_card_fraud_detection/reports/*
!credit_card_fraud_detection/data/.gitkeep
!credit_card_fraud_detection/models/.gitkeep
!credit_card_fraud_detection/reports/.gitkeep

drug_recommendation_system/data/*
drug_recommendation_system/models/*
drug_recommendation_system/reports/*
!drug_recommendation_system/data/.gitkeep
!drug_recommendation_system/models/.gitkeep
!drug_recommendation_system/reports/.gitkeep
